<div class="pm-send-form" id="pmSendForm">
    <div class="pm-input-wrap">
        <textarea id="msgInput" placeholder="输入消息..." maxlength="2000" autocomplete="off"></textarea>
        <button class="pm-send-btn" id="sendBtn" type="button">发送</button>
    </div>
</div>
